.cardPic {
    object-fit: contain !important;
}

.delBtn {
    background: #a7c957 !important;
}

:root {
    --main-green: rgba(56, 102, 65, 1);
    --med-green: rgba(106, 153, 78, 1);
    --light-green: rgba(167, 201, 87, 1);
    --light: rgba(242, 232, 207, 1);
    --red: rgba(188, 71, 73, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-message {
    color: rgba(188, 71, 73, 1)
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

/* header and nav */
header {
    padding: 20px 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main-green);
}

.heading-container {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--light);
    display: inline;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: var(--light);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
    padding: 0 8px 3px 8px;
}

header nav ul li a:hover {
    border-bottom: 3px solid var(--light);
    ;
}

/* Login/Signup and Create Post Forms */
.go-to-text {
    color: var(--light);
    text-decoration: none;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 40px;
}

.sign-in-form,
.create-post-form {
    background-color: var(--med-green);
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
}

.sign-in-form-heading {
    font-size: 30px;
    text-align: center;
    color: var(--light)
}

form input {
    width: 100%;
    height: 40px;
}

form textarea {
    width: 100%;
    height: 200px;
}

form div {
    padding: 10px;
    margin: 10px;
    color: var(--light)
}

button {
    padding: 10px 40px;
    margin: 30px;
    background-color: var(--main-green);
    color: var(--light);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid var(--main-green);
    border-radius: 5px;
}

button:hover {
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
}


/* footer */
footer {
    background-color: var(--main-green);
    color: var(--light);
    padding: 20px;
    line-height: 40px;
    display: flex;
    margin-top: auto;
}

/* Media Query for Nav and Footer */
@media screen and (max-width: 725px) {
    header {
        display: block;
    }

    .heading-container {
        justify-content: center;
    }

    header nav ul {
        padding-top: 10px;
        justify-content: space-around;
    }

    header nav ul li a {
        margin: 0 10px;
    }
}